mat-card-header {
    width: 90%;
    height: 50%;
    position: initial;
    display: block;
}

img {
    position: static;
    margin-left: 20%;
    margin-right: 20%;
}

.paragraph {
    text-align: center;
    width: 100%;
}