.form {
    width: 50%;
    margin: auto;
    padding: 4rem 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2%;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

button {
    width: 100%;
    margin-top: 2%;
}

.criar {
    background-color: rgb(6, 133, 6);
    color: white;
}