<div id="container">
    <div id="title">
        <h3>Sobre Nós</h3>
    </div>
    <div id="content">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panelTitle">
                        Sobre o site
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>O sistema do website Order Service System foi projetado com o objetivo de atender</p>
                <p>às demandas de clientes que buscam o melhor controle de seus chamados.</p>
                <br>
                <p>De forma fácil e intuitiva</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Sobre a desenvolvedora
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Website desenvolvido por Marcely Biguzzi Santello</p>
                <p>Analista de Sistemas e Engenheira de Software</p>
                <p>Tenho 25 anos, nasci e cresci em São Paulo</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>