.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    font-size: 2rem;
}

.create button {
    width: 100%;
    margin: 1rem auto;
    background-color: rgb(5, 5, 139);
    color: white;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}