.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.create button {
    width: 100%;
    margin: 1rem auto;
    background-color: rgb(5, 5, 139);
    color: white;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}

#delete {
    color: rgb(24, 99, 24);
}

td.baixa {
    color: rgb(1, 155, 1);
    font-weight: bolder;
}

td.media {
    color: rgb(214, 214, 57);
    font-weight: bolder;
}

td.alta {
    color: rgb(211, 8, 8);
    font-weight: bolder;
}